<%-include('partials/header.ejs' , {title : 'List Customer'}) %>
  <div class="container d-flex align-items-center justify-content-center flex-column" style="height: 100vh; width: 100vw;">
    <p><h2>List Customer</h2></p>
    <table class="table table-hover">
    <a href="customer/add" class="btn btn-primary">Add New Customer</a>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <% customers.forEach(customer => { %>
      <tr class="table-success">
        <td><%= customer.name %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.email %></td>
        <td><%= customer.address %></td>
        <td>
          <a href="/customer/edit/<%= customer.id %>" class="btn btn-warning">Edit</a>
          <a href="/customer/delete/<%= customer.id %>" class="btn btn-danger">Delete</a>
          <a href="/customer/<%= customer.id %>" class="btn btn-info">Detail</a>
        </td>
      </tr>
      <% }) %>
    </tbody>
    </table>
  </div>
<%-include('partials/footer.ejs') %>
