<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Customer</title>
</head>
<body>
  <div><h2>Edit Customer</h2></div>
  <div>
    <form action="/customer/edit/<%= customer.id %>" method="POST">
      <table>
        <tr>
          <td>
            <label for="name">Name:</label>
          </td>
          <td>
            <input type="text" name="name" id="name" value="<%= customer.name %>">
          </td>
        </tr>
        <tr>
          <td>
            <label for="phone">Phone:</label>
          </td>
          <td>
            <input type="text" name="phone" id="phone" value="<%= customer.phone %>">
          </td>
        </tr>
        <tr>
          <td>
            <label for="email">Email:</label>
          </td>
          <td>
            <input type="email" name="email" id="email" value="<%= customer.email %> ">
          </td>
        </tr>
        <tr>
          <td>
            <label for="address">Address:</label>
          </td>
          <td>
            <input type="text" name="address" id="address" value="<%= customer.address %> ">
          </td>
        </tr>
      </table>
      <button type="submit">Save</button>
      <a href="/customer"><button type="button">Cancel</button></a>
    </form>
  </div>
</body>
</html>