<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Detail</title>
</head>
<body>
  <div><h2>Employee Detail</h2></div>
  <div>
    <table>
      <tr>
        <td>ID</td>
        <td>:</td>
        <td><%= employee.id %></td>
      </tr>
      <tr>
        <td>Name</td>
        <td>:</td>
        <td><%= employee.name %></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>:</td>
        <td><%= employee.phone %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td>:</td>
        <td><%= employee.email %></td>
      </tr>
      <tr>
        <td>Address</td>
        <td>:</td>
        <td><%= employee.address %></td>
      </tr>
    </table>
  </div>
</body>
</html>