<%-include('partials/header.ejs' , {title : 'List Laundry'}) %>
<div>
  <p><a href="laundry/add"><button>Add New Laundry</button></a></p>
</div>
<div><h2>Processed Laundry</h2></div>
  <div>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Customer</th>
          <th>Employee</th>
          <th>Laundry Type</th>
          <th>Weight</th>
          <th>Entry Date</th>
          <th>Finish Date</th>
          <th>Total Cost</th>
        </tr>
      </thead>
      <tbody>
        <% laundries.forEach(laundry => { %>
        <tr>
          <td><a href="/laundry/<%= laundry.id %>"><%= laundry.id %></a></td>
          <td><%= laundry.Customer.name %></td>
          <td><%= laundry.Employee.name %></td>
          <td><%= laundry.laundry_type %></td>
          <td><%= weightFormat(laundry.weight) %></td>
          <td><%= laundry.entry_date %></td>
          <td><%= laundry.finish_date %></td>
          <td><%= costFormat(laundry.total_cost) %></td>
          <td>
            <a href="/laundry/edit/<%= laundry.id %>"><button>Edit</button></a>
            <button type="submit">Finish</button>
          </td>
        </tr>
        <% }) %> 
      </tbody>
    </table>
  </div>
  <div><h2>Finished Laundry</h2></div>
  <div>
    <table border="1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Customer</th>
          <th>Employee</th>
          <th>Laundry Type</th>
          <th>Weight</th>
          <th>Entry Date</th>
          <th>Finish Date</th>
          <th>Total Cost</th>
        </tr>
      </thead>
      <tbody>
        <% laundries.forEach(laundry => { %>
        <tr>
          <td></td>
          <td><%=  %></td>
          <td><%=  %></td>
          <td><%=  %></td>
          <td><%=  %><td>
          <td><%=  %></td>
          <td><%=  %></td>
          <td><%= %></td>
          <td>
            <button type="submit">Notify</button>
            <a href="/laundry/delete/<%= laundry.id %>"><button>Taken</button></a>
          </td>
        </tr>
        <% }) %> 
      </tbody>
    </table>
  </div>
<%-include('partials/footer.ejs') %>
