<%-include('partials/header.ejs' , {title : 'Edit Laundry'}) %>
  <div><h2>Edit Laundry</h2></div>
  <div>
    <form action="/laundry/edit/<%= laundry.id %>" method="POST">
      <table>
        <tr>
          <td>
            <label for="customer">Customer:</label>
          </td>
          <td>
            <select name="CustomerId" id="CustomerId">
              <option value="">---SELECT---</option>
              <% customers.forEach(customer => { %>
                <% if (laundry.Customer) { %>
                    <% if (customer.name === laundry.Customer.name) { %>
                        <option value="<%= customer.id %>" selected><%= customer.name %></option>
                    <% } else { %>
                        <option value="<%= customer.id %>"><%= customer.name %></option>
                    <% } %>
                <% } else { %>
                    <option value="<%= customer.id %>"><%= customer.name %></option>
                <% } %>
              <% }) %>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="employee">Employee:</label>
          </td>
          <td>
            <select name="EmployeeId" id="EmployeeId">
              <option value="">---SELECT---</option>
              <% employees.forEach(employee => { %>
                <% if (laundry.Employee) { %>
                    <% if (employee.name === laundry.Employee.name) { %>
                        <option value="<%= employee.id %>" selected><%= employee.name %></option>
                    <% } else { %>
                        <option value="<%= employee.id %>"><%= employee.name %></option>
                    <% } %>
                <% } else { %>
                    <option value="<%= employee.id %>"><%= employee.name %></option>
                <% } %>
              <% }) %>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="laundry_type">Laundry Type:</label>
          </td>
          <td>
            <select name="laundry_type" id="laundry_type">
              <% if (laundry.laundry_type === "dry cleaning") { %>
                <option value="">---SELECT---</option>
                <option value="dry cleaning" selected>Dry Cleaning</option>
                <option value="full cleaning">Full Cleaning</option>
              <% } else if (laundry.laundry_type === "full cleaning") { %>
                <option value="">---SELECT---</option>
                <option value="dry cleaning">Dry Cleaning</option>
                <option value="full cleaning" selected>Full Cleaning</option>
              <% } else { %>
                <option value="" selected>---SELECT---</option>
                <option value="dry cleaning">Dry Cleaning</option>
                <option value="full cleaning">Full Cleaning</option>
              <% } %>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="weight">Weight:</label>
          </td>
          <td>
            <input type="number" name="weight" id="weight" value="<%= laundry.weight %>">
          </td>
        </tr>
        <tr>
          <td>
            <label for="entry_date">Entry Date:</label>
          </td>
          <td>
            <input type="date" name="entry_date" id="entry_date" value="<%= laundry.entry_date %>">
          </td>
        </tr>
        <tr>
          <td>
            <label for="finish_date">Finish Date:</label>
          </td>
          <td>
            <input type="date" name="finish_date" id="finish_date" value="<%= laundry.finish_date %>">
          </td>
        </tr>
      </table>
      <button type="submit">Save</button>
      <a href="/laundry"><button type="button">Cancel</button></a>
    </form>
  </div>
<%-include('partials/footer.ejs') %>
